streamlit
numpy
scikit-learn
opencv-python-headless
Pillow
tensorflow
Flask


eventlet         
Flask            
Flask-Session    
Flask-SocketIO   
gevent           
gevent-websocket 
Werkzeug         
